{% extends "baseAdmin.html.twig" %}

{% block title %}Envoyer une carte{% endblock %}

{% block body %}

<div class="container">
    <form action="" method="post" class="form">
        <h3 class="h3 titleAdmin text-secondary text-center mt-3 mb-5">Envoyer carte d'adhésion</h3>
        <div class="container text-center">
        {% if formValid is not null and formValid == true %}
            <div class="alert alert-success text-center mb-5">
            Carte d'adhésion envoyée !
            </div>
        {% elseif formValid is not null and formValid == false %}
            <div class="alert alert-danger text-center mb-5">
            {{ errors|join('<br>')|raw }}
            </div>
        {% endif %}
        </div>
        <div class="form-group">
        <label for="email">Destinataire</label>
            <select name="email" id="email" class="custom-select " required>
                <option disabled  selected class="text-secondary">Sélectionnez un email</option>
            {% for item in payments %}
                <option value="{{item.email}}">{{item.email}}</option>
            {% endfor %}
            </select>

        </div>
        
        <div class="form-group">
            <label for="qrContent">Libéllé à faire apparaître dans le QrCode</label>
            <input type="text" name="qrContent" id="qrContent" class="form-control" required/>
        </div>
        
        <div class="form-group">
            <label for="content">Contenu de votre message</label>
            <textarea name="content" id="content" class="form-control" rows="6" required></textarea>
        </div>

            <select name="category" id="category" class="custom-select " required>
                <option disabled  selected class="text-secondary">Sélectionnez une catégorie</option>
                <option value="entreprise">Entreprise</option>
                <option value="etat">Etat</option>
                <option value="federation">Fédération</option>
                <option value="association">Association</option>
                <option value="particulier">Particulier</option>
                <option value="ong">Ong</option>
            </select>
        <button type="submit" class="btn btn-secondary mt-3 text-center col-12">Envoyer !</button>
    </form>
</div>

{% endblock %}