{% extends "baseAdmin.html.twig" %}


{% block title %}Gestion des produits{% endblock %}


{% block body %}
<div class="card shadow mb-4 mt-5">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-secondary titleAdmin text-center">Gestion des produits</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th class="text-center">Nom du produit</th>
                <th class="text-center">Catégorie</th>
                <th class="text-center">Prix</th>
                <th class="border-0 "></th>
            </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
            {% for item in products %}
            <tr>

                <td class="text-center">{{item.title}}</td>
                <td class="text-center">{{item.category}}</td>
                <td class="text-capitalize text-center">{{item.price|number_format(2, ',', ' ')}}</td>
                <td class="text-center"><a class="text-center" href="{{path('product_update_admin', {'id':item.id})}}"><i class="fas fa-pen fa-2x"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

{% endblock %}