<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12">
        <div class="card">
            <img id="imageQRcode" src="http://chart.apis.google.com/chart?cht=qr&chs=150x150&chl={{date().timestamp ~ 'adherantAKE2020' ~ name}}" alt="QR Code" name="imageQRcode" class="img-fluid" />
            <div class="card-body">
                <p class="card-text">Votre carte d'adhérant toute neuve {{name}} ! <br>
                À très bientôt sur <a href="rashidtamboura.fr" class="btn btn-success">Raaash</a></p>
            </div>
        </div>
    </div>
</div>