{% extends "base.html.twig" %}
{% block title %}Toutes nos missions{% endblock %}

{% block body %}
    <div class="row" id="rash">
        <h3 class="h3 container mt-5 text-center mb-5 titleSecondary"> Toutes nos missions</h3>
        {% for article in allArticles %}
            <div class="col-sm-12 col-md-12 col-lg-4 mt-2 projectLinkContainer d-flex justify-content-center">
                <a href="{{path('projects_articles', {'article':article.title})}}" class="projectLink">
                    <div class="h6 eventBackground d-flex align-items-center justify-content-center " style="background-image:url({{asset('assets/img/' ~ article.img1)}});">
                        <div class="eventTitle"> {{article.title}}</div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}

