{% extends "baseAdmin.html.twig" %}
{% block title %}Modification photo barre de navigation{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="h3 text-center text-secondary">Modifier l'image de fond de la barre de navigation</h3>

        <div class="row mt-5">

            <div class="col-sm-12 col-md-12 col-lg-12 mb-5 p-4">

                  
                  <form action="" method="post" class="form mt-5" enctype="multipart/form-data">
                  <h5 class="h5 text-secondary text-center">Veuillez sélectionner une photo / image</h5>
                        <div class="form-group text-center mt-5">
                            <small><strong>Veuillez respectez la taille de 2500 px X 300px</strong></small>
                            <input type="file" name="homeBackgroundUpdate" id="homeBackgroundUpdate" class="homeBackgroundUpdate custom-input">
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-secondary w-50">Modifier</button>
                        </div>
                  </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}