#html{
  opacity: 0;
  transition: ease 1s;
}

html {
  position: relative;
  min-height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    padding-top: 278px !important;
    margin-bottom: 259px;
}

form div {
    margin-top: 10px !important;
}


.container-fluid img{
    border-radius: 7px;
}

.card{
    margin-top: 30px;
    border-radius: 10px !important;
    box-shadow:none;
    border: none;
    padding: 5px;
}

.add{
   background-color:#dcdcdc3a ; 
   border-radius: 13px;
}

.add:hover{
   background-color:#dcdcdce1 ; 
   transition:  ease-in-out 1s;
}

.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
    
}


.card-img-top{
    height: 190px !important;
    width: 180px !important;
}

table img{
    height: 50px;
    width: 50px;
}


.logo{
    height: 120px;
    width: 120px;
}


.display-3{
    font-size: 1.4rem !important;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}


ul{
    list-style: none;
}

.category{
    font-size: 1.4em;
}

.features{
    background-color: #ebebeb;
    font-size: 1.1em;
    padding: 13px;
    color: #48433c;
    border-radius: 3px;
}

.btn-secondary{
    background: #73c2fbab;
    border: none;
}

.paymentTitle{
    margin-top: 50px;
}

.username{
    font-size: 1.5em;
}

.fa{
    font-size: 1.5em;
    color:white ; /**#f5f9ff**/
    transition: all 1s ease-in-out;
}

.fa:hover{
    text-decoration: none;
    color: #ebf4ff;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    transition: .5s ease-in;
}

.container-fluid, .container{
    padding-right: 0px;
    padding-left: 0px;
}

#total{
    font-size: 1.5em !important;
}

p{
    text-align: justify !important;
}


.list-unstyled li{
    color: #b9b7b7 !important;
    background: none !important;
}


.connexion{
    border-radius: 0px;
    border: none;
    background-color: #80808061;
    transition: all 1s ease-in-out;
}

.connexion:hover{
    background-color: #808080d3;
    transition: ease-in-out 1s;
}

.count{
    font-size: 3em;
    font-weight: bold;
    color: #f7f7f7;
}
.countText{
    color: #4a4949;
}



.lastEvents{
    padding: 10px !important;
}


.eventBackground{
    height: 400px !important;
    width: 400px !important;
    background: no-repeat;
    background-position: center;
}

.eventTitle{
    font-size: 1.5em !important;
    background: #FC9D3C9C; /**#dfdadab8;*/
    padding: 23px;
    color: white;
}

#checkout{
    height: 33px;
}

.fa-stripe{
    font-size: 2.2em;
    color: #3E458A;
}



.checkoutForm input{
    border-top: none;
    border-right: none;
    border-left: none;
    background: #ececec !important;
}

.carousel{
    width: 700px !important;
    height: 400px !important;
}


.lastEventsItems{
    background: #73c2fbab !important; /*#FC8C1BD9 !important;*/
    padding: 20px;
    color: #443f3f;
    -webkit-box-shadow: 10px 15px 42px 21px rgba(207,207,207,1) !important;
    -moz-box-shadow: 10px 15px 42px 21px rgba(207,207,207,1) !important;
    box-shadow: 10px 15px 42px 21px rgba(207,207,207,1) !important;
}


.aboutUs{
    padding: 30px;
    background: #73c2fbab;
    color: #4a4949;
    -webkit-box-shadow: 10px 15px 42px 21px rgba(207,207,207,1) !important;
    -moz-box-shadow: 10px 15px 42px 21px rgba(207,207,207,1) !important;
    box-shadow: 10px 15px 42px 21px rgba(207,207,207,1) !important;
}

.titleSecondary{
    color: #000000a6;
}

.actions, .figures, .actionLi{
    background: #73c2fbab;
    padding: 20px;
    color: #4a4949;
    -webkit-box-shadow: 10px 15px 42px 21px rgba(207,207,207,1) !important;
    -moz-box-shadow: 10px 15px 42px 21px rgba(207,207,207,1) !important;
    box-shadow: 10px 15px 42px 21px rgba(207,207,207,1) !important;
}


.navA{
    margin-top: 22px;
}

.missionItem{
    font-weight: bold;
    font-size: 4em !important;
}

.h3{
    font-size:2rem;
}


.missionLink:hover, .eventLink:hover, .projectLink:hover{
    text-decoration: none;
}

.eventLinkContainer, .projectLinkContainer{
    color:white;
    transition: all 1s ease-in-out;
}
.eventLinkContainer:hover, .projectLinkContainer:hover{
    transition: 1s ease-in-out;
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.missionContainer{
    transition: all 1s ease-in-out;
}

.missionContainer:hover{
    transition: 1s ease-in-out;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card-title{
    font-size:1.12em;
}

.ourPartners{
    font-size: 2em;
}
.titleSmall, .lead{
    font-size: 1.1em;
}

.partnerTitle{
    font-size: 1.7em;
    color: #4a4949;
}

.refPref{
  word-break: break-all;
}


.lastEventsContent{
    font-size: 0.9em !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.h5{
    color: #000000cf;
}

.btn-primary{
    color: #fff;
    background-color: #a49a9a4f !important;
    border: none;
    transition: ease 1s;
}

.btn-primary:hover{
    color: rgb(141, 141, 141) !important;
    background-color: #fdf9f9 !important;
    transition: ease-in-out 1s;
}

.institutionnels{
    height:400px;
    
}

#carouselHome{
    height:253px !important;
}


.axes li{
  -webkit-box-shadow: 10px 15px 42px 21px rgba(207,207,207,1) !important;
  -moz-box-shadow: 10px 15px 42px 21px rgba(207,207,207,1) !important;
  box-shadow: 10px 15px 42px 21px rgba(207,207,207,1) !important;
}


.thContent{
  border-bottom:1px solid #8080805c !important;
}


.form-group input{
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  background: #ececec !important;
}

.custom-select, .form-control{
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
      background: #ececec !important;
}

.registerValidation{
  font-size:1.5em;
}
.contactBoxform{
  -webkit-box-shadow: -9px 2px 134px -30px rgba(0,0,0,0.87);
  -moz-box-shadow: -9px 2px 134px -30px rgba(0,0,0,0.87);
  box-shadow: -9px 2px 134px -30px rgba(0,0,0,0.87);
  border-radius: 10px;
  background: #f5f3f3;
  width: 70%;
}

.paymentForm{
  -webkit-box-shadow: -9px 2px 134px -30px rgba(0,0,0,0.87);
  -moz-box-shadow: -9px 2px 134px -30px rgba(0,0,0,0.87);
  box-shadow: -9px 2px 134px -30px rgba(0,0,0,0.87);
  border-radius: 10px;
  background: #f5f3f3;
  padding: 20px;
}

/*DEBUT HEADER*/
*,
*:before,
*:after {
  box-sizing: border-box;
}


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  color: #000000a6;
  transition: ease 0.3s;
}

a:hover{
  text-decoration: none;
  color: #ada5a5;
  transition: ease-out 0.3s;
}

.someFigures, .someActions{
  padding-top: 70px;
}  

  
/* Header */
.header {
    padding: 1rem;
    background-color: var(--lightGrey);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: 0.5s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

.nav-toggle {
  display: flex;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  left:40%;
  border: none;
  background-color: transparent;
}

.hamburger {
  top: 10px;
  right: 15px;
  display: block;
}


.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  border-radius: 3px;
  background-color: white;
}

.hamburger::before {
  top: -10px;
  left: 0;
}

.hamburger::after {
  left: 0;
  bottom: -12px;
}

[aria-expanded="true"] .hamburger,
[aria-expanded="true"] .hamburger::before,
[aria-expanded="true"] .hamburger::after {
  transition: all 0.3s ease-in-out;
}

[aria-expanded="true"] .hamburger::before {
  opacity: 0;
  transform: rotate(0deg) scale(0.2);
}

[aria-expanded="false"] .hamburger::before {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

[aria-expanded="true"] .hamburger {
  transform: rotate(-45deg);
}

[aria-expanded="true"] .hamburger::after {
  transform: rotate(90deg) translateX(-12px);
}

[aria-expanded="false"] .hamburger,
[aria-expanded="false"] .hamburger::before,
[aria-expanded="false"] .hamburger::after {
  transition: all 0.3s ease-in-out;
}

.nav {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: -80px;
  left: -1rem;
  width: 100vw;
  height: 420px;
  transition: all 0.3s ease-in-out;
  transition-property: opacity, visibility, transform, background-color,
    box-shadow;
  background-color: #f4eeff;
  transform: translateX(-200%);
}

.logo {
  z-index: 2;
}



.nav-list {
  margin-top: 73px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;

}

.nav.is-open {
  width: 70vw;
  height: 100vh;
  top: -80px;
  margin-left: 0;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  background-color: #25587ed6;
  box-shadow: 0 6px 20px rgba(96, 109, 175, 0.2);
  display:flex;
  justify-content:center;
}

.nav.is-open .nav-link {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.3rem;
}

.nav-link {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin-top: 1rem;
  color: #fff;
  font-size: 1.3rem;
  text-align: center !important;
}
.homeNav, .homeNavToggle{
  width: 193px !important;
}

.nav-link-cta,
.nav-link:hover {
    color: #ebf4ff;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    transition: .5s ease-in;
}

.citationCarousel{
  height: 85px !important;
}

@media (min-width: 72.5em) {
  .nav-toggle, .home-toggle {
    display: none;
    pointer-events: none;
  }

  .nav-list {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-around !important;
    align-items:center;
    width: 100vw!important;
  }

  .nav {
    width: auto;
    height: auto;
    position: static;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    background-color: initial;
  }
}
/*FIN HEADER*/


/*DEBUT FOOTER*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

/*FIN FOOTER*/


@media (max-width: 765px) {
  
  .item{
    text-align: center !important;
    margin-bottom: 18px;
  }
  #carouselHome{
    height:360px !important;
  }
  .eventLinkContainer{
    width: 75vw !important;  
  }

  .eventBackground{
    height:40vh !important;
    width: 80vw !important;
  }

  #carouselExampleSlidesOnly{
    width: 80vw !important;
  }

  .row1{
    margin-bottom: 350px !important;
  }

  .missionContainer{
    margin-bottom: 30px;
  }

  .institutionnels{
    height: 44vh;
    width: 80vw;
  }

  .partnerSlide{
    height: 33vh !important;
    width: 80vw !important;
  }

  .inner{
    padding: 27px !important;
  }

  .titleSecondary{
    font-size:2rem;
  }

  .subscribe{
    margin-bottom: 35px !important;
  }
  .backToProducts{
    width: 60vw !important;
  }
  .contactTitle{
    font-size: 1.5em;
  }


  /*Nouveau !! **/
  
  .titleSmall, .lead{
    font-size: 1.3em !important;
  }
  .someFigures, .someActions{
    padding-top: 70px;
  }  

  .lastEventsItems .img-fluid{
    max-width: 50%;
  }

  .lastEventsItems{
    width: 93vw !important;
  }

  .ourProjects{
    padding-bottom: 300px;
  }

  .noAccount{
    padding-top: 20px;
  }
  .faidn{
    padding-bottom: 25px;
  }
  #carouselHome{
    margin-bottom: 89px;
  }

  .missionAll{
    margin-bottom: 200px;
  }
  .contactBox{
    padding-bottom: 320px;
  }
  .connexionBox{
    padding-bottom: 300px;
  }

  .categoriesBox, .registrationBox, .paymentBox{
    margin-bottom: 300px;
  }
  .missionBox{
    margin-bottom: 150px;

  }

  .mt-4.text-break.lead img{
    width: 71vw !important;
  }

  .formRegistration{
    width: 100% !important;
  }

  header{
    background-position: bottom !important;
  }

  #carouselHome img.img-fluid {
    height: 120px !important;
  }

  .homeNav{
    display: none;
  }

  .navLogo {
    margin-left: -50px;
  }

}

@media (min-width:1158), (max-width:1422px){
  #nav-bar .nav-link{
    font-size: 1.12em;
  }
}

