{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset('assets/css/style2.css')}}">
{% endblock %}

{% block body %}

<div class="row row1">



    <div class="wrap-contact2 col-sm-12 col-md-12 col-lg-12 mt-5">
			<div class="inner">
				<form action="" method="post">
					<h3 class="h3 text-center text-secondary titleSecondary">Nous contacter</h3>
					<p class="text-center contactTitle ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
				{% if formValid is not null and formValid == true %}
					<div class="alert alert-success text-center mb-5">
					Message envoyé ! <br> Nous revenons au plus tôt vers vous
					</div>
				{% elseif formValid is not null and formValid == false %}
					<div class="alert alert-danger text-center mb-5">
					{{ errors|join('<br>')|raw }}
					</div>
				{% endif %}
					<label class="form-group">
						<input type="text" class="form-control"  name="name" required>
						<span>Votre Nom</span>
						<span class="border"></span>
					</label>
					<label class="form-group">
						<input type="text" class="form-control" name="email" required>
						<span for="">Votre Email</span>
						<span class="border"></span>
					</label>
					<label class="form-group" >
						<textarea id="" class="form-control" name="content" required rows="4"></textarea>
						<span for="">Votre Message</span>
					</label>
					<button type="submit">Envoyer 
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
    </div>
</div>

{% endblock %}
