{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-5">

    <div class="row mt-5 row1">
        <h1 class="text-center col-12 mt-3">Oups, page non trouvée</h1>
        <div class="col-md-12 col-sm-12 col-lg-12 mt-5 text-center">
            <a href="{{ path('home') }}" class="btn btn-secondary mt-3">Retourner à la page d'accueil</a>
        </div>
    </div>
</div>
{% endblock %}
